{% extends 'admin.html.twig' %}

{% block header %}
    <h1 class="text-center">Новости</h1>
{% endblock %}
{% block body %}
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Заголовок</th>
                <th>Текст</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for a in news %}
                <tr>
                    {#<td><a href="{{ path('dish_show', { 'id': dish.id }) }}">{{ dish.id }}</a></td>#}
                    <td>{{ a.id }}</td>
                    <td>{{ a.newsHeader }}</td>
                    <td>{{ a.newsText }}</td>
                    <td>{{ a.date|date('d.m.Y') }}</td>
                    <td>
                        <ul>
                            <li>
                                {#<a href="{{ path('dish_edit', { 'id': dish.id }) }}">Изменить новость</a>#}
                                <a href="{{ path('editNews', { 'id': a.id }) }}">Изменить новость</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <a class="center-block" href="{{ path('addnews') }}">Добавить новость</a>
{% endblock %}
