{% extends 'admin.html.twig' %}


{% block header %}
  <h1 class="text-center">Добавить новость</h1>
{% endblock %}
{% block body %}

  {{ form_start(form1) }}
  {{ form_errors(form1) }}
    <p>Заголовок новости</p>
  {{ form_row(form1.newsHeader) }}
    <br>
  <p>Текст новости</p>
  {{ form_row(form1.NewsText) }}
   <p>Дата публикации</p>
  {{ form_row(form1.Date) }}
    <br>
  {{ form_widget(form1.save) }}
  {{ form_end(form1) }}
  <a href="{{ path('shownews')  }}">Показать все новости</a>
  <a href="{{ path('admin') }}">Обратно в админку</a>
  </div>
</div>
{% endblock %}

