<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}CafeAdmin{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/Public/css/bootstrap.css'
        '@AppBundle/Resources/Public/css/style.css'
        '@AppBundle/Resources/Public/css/navbar.css'
        '@AppBundle/Resources/Public/css/mealmenu.css'
        '@AppBundle/Resources/Public/css/dropzone.css'
        '@AppBundle/Resources/Public/css/admin.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

    {% javascripts
    '@AppBundle/Resources/Public/js/jquery.js'
    '@AppBundle/Resources/Public/js/bootstrap.js'
    '@AppBundle/Resources/Public/js/dropzone.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav class="navbar " >
    <div class="container ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse " id="myNavbar">
            <ul class="nav navbar-nav center-block">
                <li><a href="{{ path('admin') }}">Админка</a></li>
                <li class="active"><a href="{{ path('dishcategory_index') }}">Категории меню</a></li>
                <li><a href="{{ path('dish_index') }}">Блюда</a></li>
                <li><a href="{{ path('shownews') }}">Новости</a></li>
                <li><a href="{{ path('vitrina') }}">Витрина</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block header %}
    {% endblock %}
    <div class="col-lg-10 col-lg-offset-1">
        {% block body %}
        {% endblock %}
    </div>
</div>

</body>
</html>