<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '@AppBundle/Resources/Public/css/bootstrap.css'
            '@AppBundle/Resources/Public/css/style.css'
            '@AppBundle/Resources/Public/css/mealmenu.css'
            '@AppBundle/Resources/Public/css/navbar.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% javascripts
        '@AppBundle/Resources/Public/js/bootstrap.js'
        '@AppBundle/Resources/Public/js/handlebars-v4.0.5.js'
        %}
        {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
        {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}

        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block form %}
        {% endblock %}
        {% block News %}{% endblock %}
        {% block Menu %}{% endblock %}
        {% block Vitrina %}{% endblock %}
        {% block JSBTM %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
