<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Семейное кафе "Галерея"{% endblock %}</title>
    {% block stylesheets  %}
        {% stylesheets
        'css/bootstrap.css'
        'css/navbar.css'
        'css/style.css'
        'css/mealmenu.css'
        filter="cssrewrite"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% javascripts
    'js/bootstrap.js'
    'js/handlebars-v4.0.5.js'
    'js/Jpages.js'
    'js/ellipsis.js'
    %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div class="wrap">
        <div class="header">
            <nav class="navbar " >
                <div class="container ">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse " id="myNavbar">
                        <ul class="nav navbar-nav center-block">
                            <li class="active"><a href="#">Заказать банкет</a></li>
                            <li><a href="#">Кейтеринг</a></li>
                            <li><a href="#">Детские праздники</a></li>
                            <li><a href="#">Торты на заказ</a></li>
                            <li><a href="#">Кондитерская</a></li>
                            <li><a href="#">Бонусная программа</a></li>
                            <li><a href="#">Партнеры</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="container-fluid nohpadding">
                <!--Лого и кнопка перезвонить-->
                <div class="logoback">
                    <div class="container logo">
                        <img class="logo" src="{{ asset('img/FamilyCafeLogoT.gif') }}" alt="Логотип кафе">
                <span class="logoPhone "><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> +7 495 <span style="color: orange;">731 12 37</span>
                    <button class="callMeButtonLogo"><img src="{{ asset('img/callMeOrange.png') }}" alt="Кнопка заказа звонка" onclick="openModalOrder()"></button>
                </span>
                    </div>
                </div>
                <!--меню кафешки и фотка суфлера-->
                <div class="container menurow">
                    <div class="menu">
                        <ul class="menulist">
                            <li class=" skewedmenu" tabindex="0"><div><span>Наши кафе</span></div></li>
                            <li class=" skewedmenu" onclick="location.href = '#';" tabindex="0"><div><span>Меню</span></div></li>
                            <li class=" skewedmenu" tabindex="0"><div><span>Отдых</span></div></li>
                            <li class=" skewedmenu" tabindex="0"><div><span>Магазин</span></div></li>
                            <li class=" skewedmenu" tabindex="0"><div><span>Новости</span></div></li>
                            <li class=" skewedmenu" tabindex="0"><div><span>Акции</span></div></li>
                            <li class=" skewedmenu" tabindex="0"><div><span>О нас</span></div></li>
                        </ul>
                    </div>
                    <div class="mainbanner">
                        <div class="bannertext">
                            <h1>БУДКА СУФЛЕРА</h1>
                            <p>Суфлер всегда подскажет куда сходить, где отдохнуть, как получить скидки и расскажет много новостей!</p>
                            <p>Будет интересно!</p>
                        </div>
                    </div>
                </div>
                <!--Мы это-->
                <div class="container paddingbetween borderbottom">
                    <div class="row"><p class="redp text-center">МЫ ЭТО-</p></div>
                    <div class="row logos">
                        <img class="ourlogocover" src="{{ asset('img/prokladka.png') }}" alt="background">
                        <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-responsive center-block" src="{{ asset('img/FamilyCafeLogoTS.gif') }}" alt=""></div>
                        <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-responsive center-block"  src="{{ asset('img/hive.png') }}" alt=""></div>
                        <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-responsive center-block"  src="{{ asset('img/sokolnikibanya.png') }}" alt=""></div>
                    </div>
                </div>
                <!--Наши кафе-->
                <div class="container paddingbetween borderbottom">
                    <div class="row"><p class="redp text-center">НАШИ КАФЕ-</p></div>
                    <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-responsive center-block" src="{{ asset('img/ourcafe.gif') }}" alt=""></div>
                    <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-responsive center-block" src="{{ asset('img/ourcafe.gif') }}" alt=""></div>
                    <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-responsive center-block" src="{{ asset('img/ourcafe.gif') }}" alt=""></div>
                </div>
                <!--Меню еды-->


                <div class="container-fluid foodmenu paddingbetween">
                    <div class="container">
                        <div class="row foodemenuheader">
                            <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-responsive center-block" src="img/upperUzorLeft.gif" alt=""></div>
                            <div class="col-lg-4 col-md-4 col-sm-4"><p class="redp text-center">НОВИНКИ В МЕНЮ</p></div>
                            <div class="col-lg-4 col-md-4 col-sm-4"><img class="img-responsive center-block" src="img/upperUzor.gif" alt=""></div>
                        </div>
                    </div>
                    {% include 'Menu.html.twig' with categories %}
                    <div class="container">
                    <div class="row">
                        <img src="{{ asset('img/menuAfter.png') }}" alt="" class="img-responsive center-block">
                    </div>
                    </div>
                </div>
                <!--Меню новостей-->
                <div class="container news paddingbetween borderbottom">
                    <div class="row"><p class="redp text-center">НОВОСТИ</p></div>
                    <div class="row newsrow">

                    </div>
                    <div class="row"><button class="readmore center-block" style="font-size: 1.4em;" onclick="loadNews()">Показать ещё</button></div>
                </div>
                <!--Партнеры-->
                <div class="container partners paddingbetween">
                    <div class="row"><p class="redp text-center">НАШИ ПАРТНЕРЫ</p></div>
                    <div class="carouselwrap">
                        <a class="left " href="#carousel-example-generic" role="button" data-slide="prev">
                            <i class="fa fa-angle-left fa-4x" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right" href="#carousel-example-generic" role="button" data-slide="next">
                            <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                        <div class="partnercarousel center-block">

                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="partners">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/a977db/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/6f6e70/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/3ee6cd/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/00e01a/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/de9000/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/a977db/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/6f6e70/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/3ee6cd/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/00e01a/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/de9000/babbcc" alt="">
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="partners">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/a977db/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/00e01a/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/de9000/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/de9000/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/a977db/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/6f6e70/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/de9000/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/a977db/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/6f6e70/babbcc" alt="">
                                            <img class="partnerimg" src="http://dummyimage.com/600x300/3ee6cd/babbcc" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container paddingbetween">
                <p class="text-center">Мы будем рады если Вы оставите свой отзыв о нас!</p>
                <h1 class="text-right">СЕМЕЙНОЕ КАФЕ ГАЛЕРЕЯ</h1>
                <div class="row">
                    <div class="col-lg-6">
                        <button class="likedislike"><img src="{{ asset('img/likeup.png') }}" alt=""></button>
                        <button class="likedislike"><img src="{{ asset('img/likedown.png') }}" alt=""></button>
                    </div>
                    <div class="col-lg-6">
                    <span class="footerPhone pull-right"><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> +7 495 <span >731 12 37</span>
                    <button class="FootercallMeButtonLogo" onclick="openModalOrder()"><img src="{{ asset('img/callMeGray.png') }}" alt="Кнопка заказа звонка" ></button>
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block form %}{% endblock %}
{% block News %}{% endblock %}
{% block Menu %}{% endblock %}
{% block Vitrina %}{% endblock %}
{% block JSBTM %}
    <script>
        var newsCount = {{ newsCount }};
        var newsPage = 1;

        $(document).ready(function(){
                    loadNews();
                });
        function loadNews(){
            var params = {
                newsPage: newsPage
            };
            $.ajax({
                url: '/getNews',
                type: 'GET',
                data: params,
                success: function (html) {
                    $(".newsrow").append(html);
                    if (newsPage * 6 >= newsCount){
                        $('.readmore').hide();
                    };
                    newsPage++;
                    $('.newstext').ellipsis();
                    $('.newsheader').ellipsis();
                }
            });

        }

//        function chlen(){
//            var news = document.getElementsByClassName('stick');
//            var newsSingleFooterHeight = 120 -  $('newsSingleBody').scrollHeight();
//
//            $('newsSingleFooter').height(newsSingleFooterHeight);
//        }

    </script>
{% endblock %}
</body>
</html>



