

    <div class="container-fluid">
    {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'addOrderForm', 'action':'""', 'onsubmit': 'openModalOrderSave();return false;' }}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.name, 'Имя',{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control '}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email, 'Адрес',{'label_attr': {'class': 'col-sm-2 control-label '}}) }}
        <div class="col-sm-10">
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control '}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.subject, 'Телефон',{'label_attr': {'class': 'col-sm-2 control-label '}}) }}
        <div class="col-sm-10">
            {{ form_errors(form.subject) }}
            {{ form_widget(form.subject, {'attr': {'class': 'form-control '}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.message, 'Ващ заказ',{'label_attr': {'class': 'col-sm-2 control-label '}}) }}
        <div class="col-sm-10">
            {{ form_errors(form.message) }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control '}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class=" control-label"></label>
        <div class="col-sm-2">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-default','id':'addCommentButton'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
    {#<span id="hiddenDishId" style="display: none">{{ id }}</span>#}
</div>



