{% block Vitrina %}
    {#<div class="container foodmenu paddingbetween">#}
    {#<button id="drawmenu">otrisovka</button>#}
    {#<div class="row foodemenuheader">#}
    {#<div class="col-lg-4"><img class="img-responsive center-block" src="" alt=""></div>#}
    {#<div class="col-lg-4"><p class="redp text-center">НОВИНКИ В МЕНЮ</p></div>#}
    {#<div class="col-lg-4"><img class="img-responsive center-block" src="img/upperUzor.gif" alt=""></div>#}
    {#</div>#}
    <div class="row">
        <nav class="navbar foodnav " >
            <div class="container ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse ">
                    <ul class="nav navbar-nav foodnavul center-block">
                        {%  for category in categories %}
                            <li><a href="#"  class="dishCategory" id="dishCategory{{ category.id }}">{{ category.dishCategoryName }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row foodmenubackground">
        <div class="container">
    <div class="foodmenucontentoverlay">
        <div class="row foodmenucontent" id="foodmenuContainer"></div>
        <div class="loading-overlay" style="display: none">
            <div class="menuSpinner">
                <i class="fa fa-spinner fa-pulse fa-5x fa-lg fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row modalrow">
        <div class="modalcontainer">
            <div class="modal fade" id="modalDish" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header modal-header-blank">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body modalDishBody">
                            <div class="row" id="modalDishInfo"></div>
                            <div class="row" id="formrow"></div>
                            <div class="row" id="modalDishComments"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalDishOrder" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content modal-contentSM">
                        <div class="modal-header modal-header-blank">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row" id="modalDishOrderContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nothing" style="display: none">НИЧЕГО НЕ НАЙДЕНО</div>
    <div class="menuPageHolder text-center"></div>
    </div>
    </div>
    <script>

        var data ;
        var modalDishInfo;
        var modalDishComments;
        var modalDishRating;
        var vitrina;
        var params;
        var newsOnOneString = 3;
        var currentNewsPage = 1;

        $(document).ready(function() {
            var params = {
                id:0
            };
            var recommend = $('.foodnavul').find('a');
            recommend = recommend[0];
//            recommend.id.match(/\d+/)[0];
            params = {
                id:recommend.id.match(/\d+/)[0]
            };
            loadCategory(params);
            $('.dishCategory').click( function(e){
                var currentId=this.id.match(/\d+/)[0];
                params = {
                    id:currentId,
                    currentPage: 2
                };
                loadCategory(params);
                e.preventDefault();
            });

            $( document ).ajaxStart(function() {
                $('.loading-overlay').show();
            });

            $( document ).ajaxStop(function() {
                $('.loading-overlay').hide();
            });
        });

        Handlebars.registerHelper('ifCond', function (v1, operator, v2, options) {

            switch (operator) {
                case '==':
                    return (v1 == v2) ? options.fn(this) : options.inverse(this);
                case '===':
                    return (v1 === v2) ? options.fn(this) : options.inverse(this);
                case '<':
                    return (v1 < v2) ? options.fn(this) : options.inverse(this);
                case '<=':
                    return (v1 <= v2) ? options.fn(this) : options.inverse(this);
                case '>':
                    return (v1 > v2) ? options.fn(this) : options.inverse(this);
                case '>=':
                    return (v1 >= v2) ? options.fn(this) : options.inverse(this);
                case '&&':
                    return (v1 && v2) ? options.fn(this) : options.inverse(this);
                case '||':
                    return (v1 || v2) ? options.fn(this) : options.inverse(this);
                default:
                    return options.inverse(this);
            }
        });

        function loadCategory(params){
            $.ajax({
                url: '/getDishByCategory',
                type: 'POST',
                dataType: "json",
                data: params,
                success: function (result) {
                    $(".fotorama").empty();
                    $(".fotorama--hidden").remove();
                    data = JSON.parse(result);
                    console.log(data);

                    for (var i = 0; i < data.dishes.length; i++) {
                        data.dishes[i].dish_photos.sort(function (a, b) {
                            return a.photo_order - b.photo_order
                        });
                        data.dishes[i].dish_comments.reverse();
                    }
                    console.log(data.dishes.length);
                    modalDishInfo = Handlebars.compile($('#dishInfo_template').html());
                    vitrina = Handlebars.compile($('#vitrina_template').html());
                    modalDishComments = Handlebars.compile($("#dishComment_template").html());
                    modalDishRating = Handlebars.compile($("#rating_template").html());

                    $('.foodmenucontent').empty();
                    $('.foodmenucontent').append(vitrina(data.dishes));
                    $("div.menuPageHolder").jPages({
                        containerID : "foodmenuContainer",
                        perPage : 4,
                        first       : false,
                        previous    : false,
                        next        : false,
                        last        : false
                    });
                    /* on select change */
                    $("select").change(function(){
                        /* get new nº of items per page */
                        var newPerPage = parseInt( $(this).val() );
                        /* destroy jPages and initiate plugin again */
                        $("div.menuPageHolder").jPages("destroy").jPages({
                            containerID   : "foodmenuContainer",
                            perPage       : newPerPage,
                            first       : false,
                            previous    : false,
                            next        : false,
                            last        : false
                        });
                    });
                }
            });
        }
        function openModal(id) {
            var foo = id.match(/\d+/)[0];
            params = {
                id: foo
            };
            var modaldata = data.dishes;
            var modaldish = $.grep(modaldata, function (element) {
                return element.id == foo;
            });
            modaldish = modaldish[0];
            var comments = modaldish.dish_comments;
            console.log(comments);
            //dish rating
            var rating = 0;
            for (var i= 0;i<modaldish.dish_comments.length;i++){
                rating += modaldish.dish_comments[i].rating;
            }
            rating = rating/modaldish.dish_comments.length;
            console.log(rating);
            var dishRating = {
                dishRating: rating
            };

            //render info
            $('#modalDishInfo').empty();
            $('#modalDishInfo').append(modalDishInfo(modaldish));
            $('.dishRating').append(modalDishRating(dishRating));
            $('#modalDishComments').empty();
            $('#modalDishComments').append(modalDishComments(modaldish));

            //commentForm load and fotoroma initiating
            $("#formrow").empty();
            commentFormAjax(foo);
            $('.fotorama').fotorama();
            event.preventDefault();
        }
        function commentFormAjax(foo){
            $.ajax({
                url: '/getCommentForm'+foo,
                type: 'GET',
//                data: params,
                success: function (html) {
                    $("#formrow").empty();
                    $("#formrow").append(html);
                    $('#modalDish').modal('show');
                }
            });
        }
        function preCommentFormAjax(){
            var queryString = $('#addCommentForm').serialize();
            var foo = $('#hiddenDishId').text();

            $.ajax({
                url: '/getCommentForm'+foo,
                type: 'POST',
                data : queryString,
                success: function(html) {
                    $("#formrow").empty();
                    $("#formrow").append(html);
                }
            });
        }
        function openModalOrder() {
            $.ajax({
                url: '/contact',
                type: 'GET',
                success: function (html) {
                    $("#modalDishOrderContent").empty();
                    $("#modalDishOrderContent").append(html);
                    $('#modalDishOrder').modal('show');
                }
            });
        }

        function openModalOrderSave() {
            var queryString = $('#addOrderForm').serialize();

            $.ajax({
                url: '/contact',
                type: 'POST',
                data : queryString,
                success: function (html) {
                    $("#modalDishOrderContent").empty();
                    $("#modalDishOrderContent").append(html);
                    $('#modalDishOrder').modal('show');
                }
            });
        }

    </script>
{% verbatim %}
<script id="newst" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-lg-4">
        <div class="bordered">
            <p class="text-center newsheader">{{ news_header }}</p>
            <p>{{ news_text }}</p>
            <!--<time>{{ _date }}</time>-->
            <button class="readmore pull-right">Читать далее</button>
        </div>
    </div>
    {{/each}}
</script>
<script id="vitrina_template" type="text/x-handlebars-template">
    {{#each this}}
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 mealcard" >
    <div class="mealborder">
        <div class="mealMainImgContainer">
            <!--<img src="/bundles/app/img/oblako.png" alt="Mask" class="mealimgmask">-->
            <img src="/uploads/gallery/{{ dish_photos.0.path }}" class="img-responsive mealimg" alt="">
        </div>
        <div class="mealnameContainer">
            <a class="text-center mealname" href="#" id="#dish{{ id }}" onclick="openModal(id)">{{ dish_name }}</a>
        </div>
        <div class="weightandprice">
            <div class="weightcontainer"><span class="mealweight pull-right">{{ dish_weight }} грамм</span></div>
            <div class="pricecontainer"><span class="mealprice pull-left">{{ dish_price }} руб.</span></div>
        </div>
        <button class="orderbutton center-block" onclick="openModalOrder()">ЗАКАЗАТЬ</button>
    </div>
</div>
    {{/each}}

</script>
<script id="dishInfo_template" type="text/x-handlebars-template">
            <div class="col-md-6">
                <div class="fotorama" data-nav="thumbs" data-width="100%" data-thumbwidth="80" data-thumbheight="45"
                     data-transition="crossfade" data-loop="true" data-keyboard="true" data-navposition="bottom"
                      data-fit="cover" data-ratio="1600/900">
                    {{#each dish_photos}}
                        <img src="/uploads/gallery/{{ this.path }}" class="img-responsive" alt="">
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <p class="mealname">{{ dish_name}}</p>
                <div class="mealdescription"><p>{{ dish_description }}</p></div>
                <p>{{ dish_weight }}гр.</p>
                <p class="mealprice">{{ dish_price }}руб.</p> <br>
                <div class="dishRating"></div>
                <ul class="nav socialnav center-block" >
                    <li><a href="http://vk.com" class="btn btn-default btn-circle-social" style="background-color: #25668c;color: white;"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="http://facebook.com" class="btn btn-default btn-circle-social" style="background-color: #1f599b;color: white;"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="http://odnoklassniki.com" class="btn btn-default btn-circle-social" style="background-color: #ff9300; color: white;"><i class="fa fa-odnoklassniki fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="http://twitter.com" class="btn btn-default btn-circle-social" style="background-color: #25668c;color: white;"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="btn btn-default btn-circle-social" href="http://googleplus.com" style="background-color: #dc2d00;color: white;"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                </ul>
            </div>
</script>
<script id="dishComment_template" type="text/x-handlebars-template">
        <div class="col-lg-10 col-lg-offset-1">
            {{#each dish_comments}}
            {{#ifCond this.is_approved '==' true}}
            <div class="comment" >
                <div class="container-fluid commentHeader" >
                    <div class="va">
                        <span class="commentOwner">{{ this.user }}</span>
                        {{#ifCond this.rating '<' 1.5 }}
                                 <div class="rating pull-right filledstar1" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{else ifCond this.rating '<' 2.5 }}
                                 <div class="rating pull-right filledstar2" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{else ifCond this.rating '<' 3.5  }}
                                 <div class="rating pull-right filledstar3" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{else ifCond this.rating '<' 4.5  }}
                                 <div class="rating pull-right filledstar4" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{else ifCond this.rating '==' 5  }}
                                 <div class="rating pull-right filledstar5" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{/ifCond}}
                    </div>
                </div>
                <div class="container-fluid commentBody" >
                    <p> {{ this.text }}</p>
                </div>
            </div>
            {{/ifCond}}
            {{/each }}
            <button class="expandComment center-block" type="button" id="expandComment2">Смотреть еще</button>

</script>
<script id="rating_template" type="text/x-handlebars-template">
{{#ifCond dishRating '<' 1.5 }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
{{else ifCond dishRating '<' 2.5 }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
{{else ifCond dishRating '<' 3.5  }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
{{else ifCond dishRating '<' 4.5  }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
{{else ifCond dishRating '==' 5  }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
{{/ifCond}}
</script>
{% endverbatim %}

<script>
    var newsCount = 0;
    var commentsPage = 1;

    function loadDishComments(){
        var params = {
            newsPage: commentsPage
        };
        $.ajax({
            url: '/getDishComments',
            type: 'GET',
            data: params,
            success: function (html) {
                $(".newsrow").append(html);
                if (newsPage * 6 >= newsCount){
                    $('.readmore').hide();
                };
                commentsPage++;
            }
        });

    }
</script>

{% endblock %}

