
{% for news in news  %}
    <div class="col-md-4 col-xs-6">
        <div class="newsSingle">
            <div class="newsSingleBody">
                <p class="newsheader">{{ news.newsHeader }}</p>
                <p class="newstext">{{ news.newsText }}</p>
            </div>
            <div class="newsSingleFooter">
                <time>{{ news.date|date('d.m.Y') }}</time>
                <button type="button" class="readmore pull-right"  data-toggle="modal" data-target="#newsModal{{ news.id }}">Читать далее</button>
            </div>
        </div>
        <div class="modal fade" id="newsModal{{ news.id }}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content modal-contentSM">
                    <div class="modal-header">
                        <h3>{{ news.newsHeader }}</h3>
                        <button type="button" class="close closemodal" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                            <p style="margin-top: 10px">{{ news.newsText }}</p>
                        <time>{{ news.date|date('d.m.Y') }}</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
