{# app/Resources/views/sauna.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budka Suflera</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/sauna.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">

    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <![endif]-->
</head>
<body>
<div class="wrap">
    <div class="header">
        <nav class="navbar " >
            <div class="container ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse " id="myNavbar">
                    <ul class="nav navbar-nav center-block">
                        <li class="active"><a href="#">Заказать банкет</a></li>
                        <li><a href="#">Кейтеринг</a></li>
                        <li><a href="#">Детские праздники</a></li>
                        <li><a href="#">Торты на заказ</a></li>
                        <li><a href="#">Кондитерская</a></li>
                        <li><a href="#">Бонусная программа</a></li>
                        <li><a href="#">Партнеры</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="container-fluid">
            <!--Лого и кнопка перезвонить-->
            <div class="logoback">
                <div class="container logo">
                    <img class="logo" src="img/FamilyCafeLogoT.gif" alt="">
                <span class="logoPhone "><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> +7 495 <span style="color: orange;">731 12 37</span>
                    <button class="callMeButtonLogo">Перезвоните мне</button>
                </span>
                </div>
            </div>
            <!--Мы это-->
            <div class="container paddingbetween borderbottom">
                <div class="row"><p class="redp text-center">МЫ ЭТО-</p></div>
                <div class="row logos">
                    <img class="ourlogocover" src="img/prokladka.gif" alt="">
                    <div class="col-lg-4"><img class="img-responsive center-block" src="img/FamilyCafeLogoTS.gif" alt=""></div>
                    <div class="col-lg-4"><img class="img-responsive center-block"  src="img/FamilyCafeLogoTS.gif" alt=""></div>
                    <div class="col-lg-4"><img class="img-responsive center-block"  src="img/FamilyCafeLogoTS.gif" alt=""></div>
                </div>
            </div>
            <!--Карусель с фотками-->
            <div class="container paddingbetween">
                <div class="fotorama" data-nav="thumbs" data-width="100%" data-thumbwidth="160" data-thumbheight="90"
                     data-transition="crossfade" data-loop="true" data-keyboard="true" data-navposition="bottom" data-fit="cover" data-ratio="1600/900">
                    <img class="" src="img/banya/banya1.jpg" alt="">
                    <img class="" src="img/banya/banya2.jpg" alt="">
                    <img class="" src="img/banya/banya3.jpg" alt="">
                    <img class="" src="img/banya/banya4.jpg" alt="">
                    <img class="" src="img/banya/banya5.jpg" alt="">
                    <img class="" src="img/banya/banya6.jpg" alt="">
                    <img class="" src="img/banya/banya7.jpg" alt="">
                    <img class="" src="img/banya/banya8.jpg" alt="">
                    <img class="" src="img/banya/banya9.jpg" alt="">
                    <img class="" src="img/banya/banya10.jpg" alt="">
                    <img class="" src="img/banya/banya11.jpg" alt="">
                    <img class="" src="img/banya/banya12.jpg" alt="">
                    <img class="" src="img/banya/banya13.jpg" alt="">
                    <img class="" src="img/banya/banya14.jpg" alt="">
                    <img class="" src="img/banya/banya15.jpg" alt="">
                    <img class="" src="img/banya/banya16.jpg" alt="">
                    <img class="" src="img/banya/banya17.jpg" alt="">
                    <img class="" src="img/banya/banya18.jpg" alt="">
                </div>
            </div>
            <!--Описание бани-->
            <div class="container-fluid banyadescription paddingbetween ">
                <!--<div class="col-lg-6 col-lg-offset-3">-->
                <div class="container">
                    <h3 class="text-center" ><b>БАНЯ В СОКОЛЬНИКАХ</b></h3>
                    <p class="text-center">Наша Баня – уникальный архитектурный обьект собранный из неохватных бревен сибирской

                        лиственницы, впечатляющий каждого кто его видит. Приземистый сруб вызывает массу

                        ассоциаций от реальной реконструкции старинной таежной заимки до замка эльфов в

                        голивудском фентези. Уличный дворик Бани выходят на стильный, обихоженный пруд с большим

                        количеством водных растений в котором живет много рыб. Весной, летом и осенью особым

                        удовольствием наших гостей является наблюдение за жизнью пруда, прозрачные воды которого

                        пробиваются насквозь Солнцем. Помещения бани достаточны для комфортного размещения 15

                        человек, однако и небольшая семья будет чувствовать себя комфортно. В Вашем распоряжении

                        большой обеденный зал в правом крыле с телевизором и большим диваном. В центральной части

                        расположены раздевалки, небольшая кухня и туалет, в правом крыле две душевые комнаты и

                        парная. В парной  два уровня полатей, расположенных полукругом непосредственно возле

                        «каменной печи» - это новая конструкция печей, вся поверхность которых укрыта камнями

                        аккомулирующими тепло, на которые можно лить воду. Поскольку горячих камней у нас гораздо

                        больше, чем в обычной печи, то  распределение пара в большом помещении парилки после

                        воздействия воды на камни происходит равномерно. В Бане имеется купель с независимым

                        подводом проточной воды из артезианской скважины с отдельным отводом воды в систему .

                        Купель расположена под крышей при входе в Баню.</p>
                    <p class="text-center">При посещении бани все должно являться удовольствием, в результате которого поднимается

                        настроение и апетит. Мы предусмотрели для Вас возможность получения непосредственно в Бане

                        разнообразных салатов, горячих и холодных блюд, десертов, чая и кофе из семейного кафе

                        «ГАЛЕРЕЯ», расположенного в 40 метрах от помещения бани. Напитки могут быть доставлены из

                        супермаркета «Улей», расположенного в непосредственной близости от Бани. Семейное кафе

                        «Галерея» и супермаркет «Улей» коммерческие партнеры поэтому все заказанные Вами готовые

                        блюда и напитки будут предоставлены Вам без дополнительных наценок.  Для детей имеется

                        специальное меню, включающее нежные котлетки с пюре, куриный супчик, чизбургер, фруктовый

                        салат .</p>

                    <p class="text-center">После каждого посещения гостей в помещениях бани производится полная очистка и

                        дезинфекция. В вопросах чистоты мы щепетильны и последовательны, применяем эффективные

                        моющие и чистящие средства.</p>

                    <p class="text-center">Мы приветствуем семейный отдых, здоровый образ жизни и законное желание каждого быть

                        чище и лучше!</p>

                    <p class="text-center">Баня открыта ежедневно. Сеансы начинаются с 9.00 и продолжаются до последнего заказа.</p>

                    <p class="text-center">Для посещения бани необходимо связаться по телефону: 8 800 555 35 35 и забронировать время посещения.</p>

                    <p class="text-center">Стоимость предоставляемых услуг будет уточнена Вам при бронировании сеанса.</p>

                    <p class="text-center">С Легким Паром!</p>
                </div>
            </div>
            <!--Веники-->
            <div class="container paddingbetween ">
                <div class="row">
                    <div class="col-lg-4"><img class="img-responsive center-block" src="img/venik.png" alt=""></div>
                    <div class="col-lg-4" style="display: flex; justify-content: center; height: 195px">
                        <div class="bookingButtonCont"></div>
                        <button class="bookingButton center-block">БРОНИРОВАТЬ</button>
                    </div>
                    <div class="col-lg-4"><img class="img-responsive center-block"  src="img/venik.png" alt=""></div>
                </div>
            </div>
            <!--Comments-->
            <div class="container paddingbetween borderbottom">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center"><b>ОТЗЫВЫ</b></p>
                    <br>
                    <div class="comment" >
                        <div class="container-fluid commentHeader" >
                            <div class="va">
                                <span class="commentOwner">Анна</span>
                                <div class="rating pull-right ">
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                        <div class="container-fluid commentBody" >
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in condimentum est. Phasellus tristique sagittis lectus sit amet luctus.
                                Proin facilisis pharetra purus. Cras pretium metus vel felis ultricies, et fermentum sapien egestas. Sed sit amet urna dolor. Phasellus blandit
                                placerat mi, sit amet condimentum mi. Sed ex augue, egestas non dui sit amet, fermentum condimentum libero. Proin porta, mauris a pharetra interdum,
                            </p>
                            <p>28.05.2016</p>
                        </div>
                    </div>
                    <div class="comment" >
                        <div class="container-fluid commentHeader" >
                            <div class="va">
                                <span class="commentOwner">Анна</span>
                                <div class="rating pull-right ">
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                        <div class="container-fluid commentBody" >
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in condimentum est. Phasellus tristique sagittis lectus sit amet luctus.
                                Proin facilisis pharetra purus. Cras pretium metus vel felis ultricies, et fermentum sapien egestas. Sed sit amet urna dolor. Phasellus blandit
                                placerat mi, sit amet condimentum mi. Sed ex augue, egestas non dui sit amet, fermentum condimentum libero. Proin porta, mauris a pharetra interdum,
                            </p>
                            <p>28.05.2016</p>
                        </div>
                    </div>
                    <div class="comment" >
                        <div class="container-fluid commentHeader" >
                            <div class="va">
                                <span class="commentOwner">Анна</span>
                                <div class="rating pull-right ">
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                        <div class="container-fluid commentBody" >
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in condimentum est. Phasellus tristique sagittis lectus sit amet luctus.
                                Proin facilisis pharetra purus. Cras pretium metus vel felis ultricies, et fermentum sapien egestas. Sed sit amet urna dolor. Phasellus blandit
                                placerat mi, sit amet condimentum mi. Sed ex augue, egestas non dui sit amet, fermentum condimentum libero. Proin porta, mauris a pharetra interdum,
                            </p>
                            <p>28.05.2016</p>
                        </div>
                    </div>
                    <button class="expandComment center-block" type="button" id="expandComment2">Смотреть еще</button>
                </div>
            </div>
            <!--Услуги-->
            <div class="container paddingbetween">
                <p class="text-center"><b>НАШИ УСЛУГИ</b></p>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Услуга 1</td>
                        <td>Цена 1</td>
                    </tr>
                    <tr>
                        <td>Услуга 2</td>
                        <td>Цена 2</td>
                    </tr>
                    <tr>
                        <td>Услуга 3</td>
                        <td>Цена 3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container paddingbetween">
            <p class="text-left">Мы будем рады если Вы оставите свой отзыв о нас!</p>
            <h1 class="text-right">СЕМЕЙНОЕ КАФЕ ГАЛЕРЕЯ</h1>
            <div class="row">
                <div class="col-lg-6">
                    <button class="likedislike"><img src="img/bigdislike.gif" alt=""></button>
                    <button class="likedislike"><img src="img/biglike.gif" alt=""></button>
                </div>
                <div class="col-lg-6">
                    <span class="footerPhone pull-right"><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> +7 495 <span >731 12 37</span>
                    <button class="FootercallMeButtonLogo">Перезвоните мне</button>
                </span>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
</body>

</html>