{% extends 'base.html.twig' %}

{% block Vitrina %}
    {#<div class="container foodmenu paddingbetween">#}
        {#<button id="drawmenu">otrisovka</button>#}
        {#<div class="row foodemenuheader">#}
            {#<div class="col-lg-4"><img class="img-responsive center-block" src="" alt=""></div>#}
            {#<div class="col-lg-4"><p class="redp text-center">НОВИНКИ В МЕНЮ</p></div>#}
            {#<div class="col-lg-4"><img class="img-responsive center-block" src="img/upperUzor.gif" alt=""></div>#}
        {#</div>#}
        <div class="row" style="">
            <nav class="navbar foodnav " >
                <div class="container ">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse ">
                        <ul class="nav navbar-nav foodnavul center-block">
                            {%  for category in categories %}
                                <li><a href="#"  class="dishCategory" id="dishCategory{{ category.id }}">{{ category.dishCategoryName }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row foodmenucontent"></div>
        <div class="row modalrow">
            <div class="modalcontainer">
                <div class="modal fade" id="modalDish" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close closemodal" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <div class="row" id="modalDishInfo"></div>
                                <div class="row" id="formrow"></div>
                                <div class="row" id="modalDishComments"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading-overlay" style="display: none">Ajax is loading</div>
        <div class="nothing" style="display: none">НИХУЯ НЕ НАЙДЕНО</div>
    </div>
    <script>

        var data ;
        var modalDishInfo;
        var modalDishComments;
        var modalDishRating;
        var vitrina;
        var params;

        $(document).ready(function() {
            $('.dishCategory').click( function(e){
                var currentId=this.id.match(/\d+/)[0];
                var params = {
                    id:currentId
                };
                loadCategory(params);
                e.preventDefault();
            });

            $( document ).ajaxStart(function() {
                $('.loading-overlay').show();
            });

            $( document ).ajaxStop(function() {
                $('.loading-overlay').hide();
            });
        });

        Handlebars.registerHelper('ifCond', function (v1, operator, v2, options) {

            switch (operator) {
                case '==':
                    return (v1 == v2) ? options.fn(this) : options.inverse(this);
                case '===':
                    return (v1 === v2) ? options.fn(this) : options.inverse(this);
                case '<':
                    return (v1 < v2) ? options.fn(this) : options.inverse(this);
                case '<=':
                    return (v1 <= v2) ? options.fn(this) : options.inverse(this);
                case '>':
                    return (v1 > v2) ? options.fn(this) : options.inverse(this);
                case '>=':
                    return (v1 >= v2) ? options.fn(this) : options.inverse(this);
                case '&&':
                    return (v1 && v2) ? options.fn(this) : options.inverse(this);
                case '||':
                    return (v1 || v2) ? options.fn(this) : options.inverse(this);
                default:
                    return options.inverse(this);
            }
        });

        function loadCategory(params){
            $.ajax({
                url: '/admin/getDishByCategory',
                type: 'POST',
                dataType: "json",
                data: params,
                success: function (result) {
                    $(".fotorama").empty();
                    $(".fotorama--hidden").remove();
                    data = JSON.parse(result);
                    console.log(data);

                        for (var i = 0; i < data.dishes.length; i++) {
                            data.dishes[i].dish_photos.sort(function (a, b) {
                                return a.photo_order - b.photo_order
                            });
                            data.dishes[i].dish_comments.reverse();
                        }

                        modalDishInfo = Handlebars.compile($('#dishInfo_template').html());
                        vitrina = Handlebars.compile($('#vitrina_template').html());
                        modalDishComments = Handlebars.compile($("#dishComment_template").html());
                        modalDishRating = Handlebars.compile($("#rating_template").html());

                        $('.foodmenucontent').empty();
                        $('.foodmenucontent').append(vitrina(data.dishes));
                }
            });
        }
        function openModal(id) {
            var foo = id.match(/\d+/)[0];
            params = {
                id: foo
            };
            var modaldata = data.dishes;
            var modaldish = $.grep(modaldata, function (element) {
                return element.id == foo;
            });
            modaldish = modaldish[0];
            console.log(modaldish);
            var comments = modaldish.dish_comments;
            console.log(comments);
            var rating = 0;
            for (var i= 0;i<modaldish.dish_comments.length;i++){
                rating += modaldish.dish_comments[i].rating;
            }
            rating = rating/modaldish.dish_comments.length;
            console.log(rating);
            var dishRating = {
                dishRating: rating
            };
            $('#modalDishInfo').empty();
            $('#modalDishInfo').append(modalDishInfo(modaldish));
            $('.dishRating').append(modalDishRating(dishRating));
            $('#modalDishComments').empty();
            $('#modalDishComments').append(modalDishComments(modaldish));

            $("#formrow").empty();
            commentFormAjax(foo);
            $('.fotorama').fotorama();
        }
        function commentFormAjax(foo){
            $.ajax({
                url: '/admin/getCommentForm'+foo,
                type: 'GET',
//                data: params,
                success: function (html) {
                    $("#formrow").empty();
                    $("#formrow").append(html);
                    $('#modalDish').modal('show');
                }
            });
        }
        function preCommentFormAjax(){
            var queryString = $('#addCommentForm').serialize();
            var foo = $('#hiddenDishId').text();

            $.ajax({
                url: '/admin/getCommentForm'+foo,
                type: 'POST',
                data : queryString,
                success: function(html) {
                    $("#formrow").empty();
                    $("#formrow").append(html);
                }
            });
        }

    </script>
{% verbatim %}
<script id="newst" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-lg-4">
        <div class="bordered">
            <p class="text-center newsheader">{{ news_header }}</p>
            <p>{{ news_text }}</p>
            <!--<time>{{ _date }}</time>-->
            <button class="readmore pull-right">Читать далее</button>
        </div>
    </div>
    {{/each}}
</script>
<script id="vitrina_template" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-lg-3 mealcard" >

                <img src="/uploads/gallery/{{ dish_photos.0.path }}" class="img-responsive" alt="">
                <a href="#" id="#dish{{ id }}" onclick="openModal(id)"><p class="text-center mealname">{{ dish_name }}</p></a>
                <div class="weightandprice">
                    <div class="weightcontainer"><span class="mealweight pull-right">{{ dish_weight }} грамм</span></div>
                    <div class="pricecontainer"><span class="mealprice pull-left">{{ dish_price }} руб.</span></div>
                </div>
                <button class="orderbutton center-block">ЗАКАЗАТЬ</button>
            </div>
    {{/each}}
</script>
<script id="dishInfo_template" type="text/x-handlebars-template">
        <div class="row">
            <div class="col-lg-6">
                <div class="fotorama" data-nav="thumbs" data-width="100%" data-thumbwidth="80" data-thumbheight="45"
                     data-transition="crossfade" data-loop="true" data-keyboard="true" data-navposition="bottom"
                      data-fit="cover" data-ratio="1600/900">
                    {{#each dish_photos}}
                        <img src="/uploads/gallery/{{ this.path }}" class="img-responsive" alt="">
                    {{/each}}
                </div>
            </div>
            <div class="col-lg-6">
                <p class="mealname">{{ dish_name}}</p>
                <pre>{{ dish_description }}</pre>
                <p>{{ dish_weight }}гр.</p>
                <p class="mealprice">{{ dish_price }}руб.</p> <br>
                <button class="orderbutton ">ЗАКАЗАТЬ</button>
                <div class="dishRating"></div>
                <ul class="nav socialnav center-block" >
                    <li><a href="http://vk.com" class="btn btn-default btn-circle-social" style="background-color: #25668c;color: white;"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="http://facebook.com" class="btn btn-default btn-circle-social" style="background-color: #1f599b;color: white;"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="http://odnoklassniki.com" class="btn btn-default btn-circle-social" style="background-color: #ff9300; color: white;"><i class="fa fa-odnoklassniki fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="http://twitter.com" class="btn btn-default btn-circle-social" style="background-color: #25668c;color: white;"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a class="btn btn-default btn-circle-social" href="http://googleplus.com" style="background-color: #dc2d00;color: white;"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
</script>
<script id="dishComment_template" type="text/x-handlebars-template">
<div class="modalcontainer">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            {{#each dish_comments}}
            {{#ifCond this.is_approved '==' true}}
            <div class="comment" >
                <div class="container-fluid commentHeader" >
                    <div class="va">
                        <span class="commentOwner">{{ this.user }}</span>
                        {{#ifCond this.rating '<' 1.5 }}
                                 <div class="rating pull-right filledstar1" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{else ifCond this.rating '<' 2.5 }}
                                 <div class="rating pull-right filledstar2" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{else ifCond this.rating '<' 3.5  }}
                                 <div class="rating pull-right filledstar3" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{else ifCond this.rating '<' 4.5  }}
                                 <div class="rating pull-right filledstar4" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{else ifCond this.rating '==' 5  }}
                                 <div class="rating pull-right filledstar5" >
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                 </div>
                             {{/ifCond}}
                    </div>
                </div>
                <div class="container-fluid commentBody" >
                    <p> {{ this.text }}</p>
                </div>
            </div>
            {{/ifCond}}
            {{/each }}
            <button class="expandComment center-block" type="button" id="expandComment2">Смотреть еще</button>
        </div>
    </div>
</script>
<script id="rating_template" type="text/x-handlebars-template">
{{#ifCond dishRating '<' 1.5 }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
{{else ifCond dishRating '<' 2.5 }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
{{else ifCond dishRating '<' 3.5  }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
{{else ifCond dishRating '<' 4.5  }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
{{else ifCond dishRating '==' 5  }}
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
     <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
{{/ifCond}}
</script>
{% endverbatim %}
{% endblock %}