/*nav css*/

.navbar {
    background: #F7F7F7;
    margin-bottom: 0;
    text-align: center;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

}

.navbar .navbar-collapse {
    text-align: center;
    font-size: 1.2em;
}
.navbar a {
    color: black;
}
.navbar li {
    margin-left: 5px;
    margin-right: 5px;
}