@font-face {
    font-family: Sunday; /* Гарнитура шрифта */
    src: url(/bundles/app/fonts/Sunday-Regular.ttf); /* Путь к файлу со шрифтом */
}


* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1300px;
}

/*.content {*/
/*background-color: #5cb85c;*/
/*background: url(../img/foncontent.png);*/
/*background-repeat: round;*/
/*}*/
.redp {
    font-size: 2.5em;
    font-weight: bold;
    color: #B3252D;
}
.paddingbetween {
    padding-top: 50px;
    padding-bottom: 50px;
}
.borderbottom {
    border-bottom: 1px solid #e4e4e4;
}
.bordered {
    border: 2px solid lightgray;
}
.nohpadding {
    padding-left: 0;
    padding-right: 0;
}

/*logo row css*/
.logoback {
    background-color: white;
}
.logo {
    height: 200px;
    position: relative;
}
.logoPhone{
    font-size: 2em;
    position: absolute;
    top: calc(50% - 21px);
    right: 0;
    z-index: 2;
}
.logoPhone > i {
    color: #B3252D;
}
.callMeButtonLogo {
    position: relative;
    color: white;
    border: none;
    background-color: transparent;
    z-index: 2;
}
/*.callMeButtonLogo:before {*/
    /*content: url(/bundles/app/img/logoButtonT.gif);*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -50%;*/
    /*z-index: -1;*/
/*}*/
/*menu row css*/
.menurow{

}
.menu {
    position: relative;
    top: 8px;
    display: inline-block;
    width: 150px;
    float: left;
}
.menulist {
    padding: 0;
    width: 100%;
    list-style: none;
}
.menulist li {
    position: relative;
    width:100%;
    padding: 10px;
    border: 1px solid black;
}
.menulist li:after {
    position: absolute;
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}
.skewedmenu {
    transform: skew(0deg, -6deg) ;
    -webkit-transform: skew(0deg, -6deg) ;
    -moz-transform: skew(0deg, -6deg) ;
    -o-transform: skew(0deg, -6deg) ;
    -ms-transform: skew(0deg, -6deg) ;
    background: url(/bundles/app/img/menuSkew.png);
    background-size:cover;
}
.skewedmenu div{
    transform: skew(0deg, 6deg) ;
    -webkit-transform: skew(0deg, 6deg) ;
    -moz-transform: skew(0deg, 6deg) ;
    -o-transform: skew(0deg, 6deg) ;
    -ms-transform: skew(0deg, 6deg) ;
}
.mainbanner {
    position: relative;
    display: inline-block;
    width: calc(100% - 151px);
    height: 400px;
    padding: 40px;
    background: gray;
    float: left;
}
/*.mainbanner:after {*/
    /*content: "";*/
    /*width: 150px;*/
    /*height: 100%;*/
    /*z-index: -1;*/
    /*background: #B3252D;*/
    /*position: absolute;*/
    /*right: -150px;*/
    /*top: 8px;*/
    /*transform: skew(0deg, 6deg) ;*/
    /*-webkit-transform: skew(0deg, 6deg) ;*/
    /*-moz-transform: skew(0deg, 6deg) ;*/
    /*-o-transform: skew(0deg, 6deg) ;*/
    /*-ms-transform: skew(0deg, 6deg) ;*/
/*}*/
.suflerlogo {
    position: absolute;
    right: 50px;
    top: 10%
}
.bannertext {
    width: 60%;
}
/*logo hive sauna row */

.logos {
    position: relative;
}
.ourlogocover{
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    z-index: -1;
}
/*ourcafe row*/


/*news css*/
.newsrow {
    margin-top: 30px;
    margin-bottom: 30px;
}

.newsheader{
    padding-top: 15px;
    font-size: 1.3em;
    color: #B3252D;
}
.readmore {
    background: none;
    border: none;
    color: #2aabd2;
    text-decoration: underline;
}

/*partners css*/
.carouselwrap {
    position: relative;
}
.carouselwrap i {
    color: gray;
}
.partnercarousel {
 display: inline-block;
    width: 95%;
    margin-left: 3%;
}
.partnerimg {
    display: inline-block;
    width: 17.5%;
    margin: 1%;
}
.left {
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
}
.right {
    position: absolute;
    top: calc(50% - 30px);
    right: 0;
}

/*footer css*/
.footer {
    position: relative;
    height: 300px;
    background-color: black;
    background: url(/bundles/app/img/fon_black.png);
}
.footer p {
    color: white;
    font-size: 1.2em;
}
.footer h1 {
    color: rgb(109, 109, 109);
}
.likedislike {
    border: none;
    background: none;
}
.footerPhone{
    color: rgb(109, 109, 109);
    font-size: 2em;
    position: relative;
    /*top: calc(50% - 21px);*/
    top: 55%;
    right: 0;
    z-index: 2;
    margin-top: 30px;
}
.footerPhone > i {
    color: rgb(109, 109, 109);
}
.FootercallMeButtonLogo {
    position: relative;
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    z-index: 2;
}
.FootercallMeButtonLogo:before {
    content: url(/bundles/app/img/logoButtonTblack.gif);
    position: absolute;
    left: 50%;
    margin-left: -50%;
    z-index: -1;
}


 /*modal css*/
.modal {
     max-height:90%;
 }
.modal-dialog {
    width: 100%;
}
.modal-content {
    border: none;
    width: 60%;
    margin: auto;
    margin-top: 5vh;
}


.modal-contentSM {
    border: none;
    width: 30%;
    margin: auto;
    margin-top: 5vh;
}

.closemodal {
    position: absolute;
    top: 0;
    right: 0;
}
/* social nav buttons */
.socialnav {
    width: 100%;
    /*text-align: center;*/
}
.socialnav > li {
    display: inline-block;
}

/*star rating*/
.starrating {
    unicode-bidi: bidi-override;

}
.starrating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 1.6em;
}
.modalmealname{
    font-size: 1.15em;
    color: #B3252D;
    margin-bottom: 0;
}
/*comments*/
.va {
position: relative;
}

.rating {
    unicode-bidi: bidi-override;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-0%,-50%);
    /*width: 200px;*/

}
.rating > i , .dishRating > i{
    display: inline-block;
    position: relative;
    width: 1.1em;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.6em;
    color: #FFA03D;
}
.comment {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.commentHeader{
    position: relative;
}
.commentOwner {
    font-size: 1.6em;
    color: #B3252D;
}
.commentBody p {
    text-align: justify;
}
.expandComment {
    background: none;
    border: none;
    border-bottom: 1px dashed #000;
    padding: 0;
    color: #1f599b;
}