
.foodmenu {
    position: relative;
}
/*.foodmenu:after {*/
/*content: url(../img/Yzoru-02s.png);*/
/*position: absolute;*/
/*width: 200px;*/
/*left: 50%;*/
/*margin-left: -50%;*/
/*z-index: -1;*/
/*}*/
.foodnav {
    height: 50px;
    background: #B3252D;
}
.foodnav li {
    margin-left: 0;
    margin-right: 0;
}
.foodnav li a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.foodnav li:nth-child(n+2) a:before {
    content: "";
    height: 30px;
    width: 1px;
    background: white;
    position: absolute;
    top: 10px;
    left: -1px;
}
.foodnavul > li > a:hover, .foodnavul > li > a:focus {
    background: none;
    text-decoration: underline;
}
/*.foodnav li {*/
    /*display: inline-block;*/
    /*list-style: none;*/
    /*height: 100%;*/
    /*color: white;*/
    /*text-align: center;*/
    /*width: auto;*/
/*}*/
/*.foodnav li a {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*height: 100%;*/
    /*color: white;*/
    /*padding: 15px;*/
/*}*/
.foodmenubackground {
    background: white;
    background: url(../img/menu_fon.png);
}
.foodmenucontent {
    position: relative;
}
.foodmenucontentoverlay {
    position: relative;
}
.loading-overlay {
    position: absolute;
    width: 200%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}
.mealcard {
    height:400px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
    margin-bottom: 20px;
    /*-webkit-transform:scale(1.2);*/
    /*-moz-transform:scale(1.2);*/
    /*-ms-transform:scale(1.2);*/
    /*-o-transform:scale(1.2);*/
    /*transform:scale(1.2);*/
}

.mealborder {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 15px;*/
    /*z-index: -1;*/
    /*border: 2px solid rgba(128, 117, 73, 0.8);*/
    background: url(../img/mealcover.png);
    background-size: 100% 100%;
    position: relative;

}
.mealborderfill {
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    top: 10px;
    left: 15px;
    opacity: 0.5;
    z-index: -1;
}
.mealMainImgContainer {
    position: relative;
}
.mealimg {
    -webkit-mask-image: url(../img/mealImgMask.png);
    -webkit-mask-size: 100% 100%;
    mask-repeat: space;

}

.mealnameContainer {
    width: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.mealnameContainer a:hover{
    text-decoration: none;
}
.mealname{
    vertical-align: middle;
    text-align: center;
    padding: 5px 10px 5px;
    font-size: 1.15em;
    color: #B3252D;
    margin-bottom: 0;
    font-family: Sunday;
    transition: color .5s linear;
}

.mealname:hover, .mealname:focus{
    text-decoration: none;
    color: #fd5005;
}


.weightandprice{
    display: flex;
    height: 30px;
    margin-bottom: 10px;

}
.weightcontainer, .pricecontainer {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.mealprice {
    display: inline-block;
    font-size: 1.5em;
    color: #FFA03D;
    /*padding-right: 25px;*/
}
.mealweight {
    display: inline-block;
    /*padding-left: 25px;*/
    position: relative;
    top: 7px;
}
.orderbutton {
    background: #FFA03D;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(199,139,18,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(199,139,18,1);
    box-shadow: 0px 2px 0px 0px rgba(199,139,18,1);
    z-index: 50;
    position: absolute;
    bottom: 5px;
    left: calc(50% - 61px);
}
.mealdescription{
    height: 100px;
    overflow-y: auto;
}
#formrow {
    margin-top: 30px;
}
.commentformresponse {
    text-align: center;
    font-family: Sunday;
    font-size: 1.2em;
    color: #B3252D;
}
.menuPageHolder {
    margin: 0 0 15px 0;
}
.menuPageHolder a {
    display:inline-block;
    cursor:pointer;
    margin:0 5px;
    padding:5px 14px;
    border-radius:50%;
    background-color: rgba(120, 120, 120, 0.3);
    color: black;
    font-size: 1.4em;
}
.menuPageHolder a:hover {
    background-color: rgba(120, 120, 120, 1);
    opacity: 1;
}
.menuPageHolder a.jp-previous {
    margin-right:15px;
}
.menuPageHolder a.jp-next {
    margin-left:15px;
}
.menuPageHolder a.jp-current,a.jp-current:hover {
    color:black;
    font-weight:bold;
    opacity: 1;
}
.menuPageHolder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.menuPageHolder a.jp-current,a.jp-current:hover,.menuPageHolder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background-color: rgba(120, 120, 120, 1);
    opacity: 1;
}
.menuPageHolder span {
    margin: 0 5px;
}


