@font-face {
    font-family: Sunday; /* Гарнитура шрифта */
    src: url(../fonts/Sunday-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /*min-width: 1300px;*/
    /*width: auto !important;  */
    /*width: 1300px;*/
    font-family: 'Open Sans', sans-serif;

}

/*.content {*/
/*background-color: #5cb85c;*/
/*background: url(../img/foncontent.png);*/
/*background-repeat: round;*/
/*}*/
.redp {
    font-size: 2.5em;
    font-weight: bold;
    color: #B3252D;
}
.paddingbetween {
    padding-top: 50px;
    padding-bottom: 50px;
}
.borderbottom {
    border-bottom: 1px solid #e4e4e4;
}

.nohpadding {
    padding-left: 0;
    padding-right: 0;
}

/*logo row css*/
.logoback {
    background: white url(../img/fon1.png);
}
.logo {
    height: 200px;
    position: relative;
}
.logoPhone{
    font-size: 2em;
    position: absolute;
    top: calc(50% - 21px);
    right: 0;
    z-index: 2;
}
.logoPhone > i {
    color: #B3252D;
}
.callMeButtonLogo {
    position: relative;
    color: white;
    border: none;
    background-color: transparent;
    z-index: 2;
}

/*menu row css*/
.menurow{

}
.menu {
    position: relative;
    top: 7px;
    left: -15px;
    display: inline-block;
    width: 170px;
    float: left;
}
.menulist {
    padding: 0;
    width: 100%;
    list-style: none;
}
/*.menulist li {*/
    /*position: relative;*/
    /*width:100%;*/
    /*padding: 10px;*/
    /*border: 1px solid #febf04;*/
    /*-webkit-box-shadow: 0px 0px 10px 1px rgba(204,149,38,1);*/
    /*-moz-box-shadow: 0px 0px 10px 1px rgba(204,149,38,1);*/
    /*box-shadow: 0px 0px 10px 1px rgba(204,149,38,1);*/
/*}*/
.menulist li:after {
    position: absolute;
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    border-left: 1px dashed white;
    border-right: 1px dashed white;
}
.skewedmenu {
    position: relative;
    width:100%;
    padding: 9px 9px 9px 20px;
    margin-bottom: 6px;
    border: 1px solid #febf04;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204,149,38,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204,149,38,1);
    box-shadow: 0px 0px 5px 0px rgba(204,149,38,1);
    transform: skew(0deg, -3deg) ;
    -webkit-transform: skew(0deg, -3deg) ;
    -moz-transform: skew(0deg, -3deg) ;
    -o-transform: skew(0deg, -3deg) ;
    -ms-transform: skew(0deg, -3deg) ;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febf04+0,ffd65e+100 */
    background: #febf04; /* Old browsers */
    background: -moz-linear-gradient(left,  #febf04 0%, #ffd65e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #febf04 0%,#ffd65e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #febf04 0%,#ffd65e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e',GradientType=1 ); /* IE6-9 */
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
}

.skewedmenu:hover, .skewedmenu:focus  {
    background: #cd9b04; /* Old browsers */
    background: -moz-linear-gradient(left,  #cd9b04 0%, #ffd65e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #cd9b04 0%,#ffd65e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #cd9b04 0%,#ffd65e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e',GradientType=1 ); /* IE6-9 */
    cursor: pointer;
}
.skewedmenu div, .skewedmenu button{
    transform: skew(0deg, 3deg) ;
    -webkit-transform: skew(0deg, 3deg) ;
    -moz-transform: skew(0deg, 3deg) ;
    -o-transform: skew(0deg, 3deg) ;
    -ms-transform: skew(0deg, 3deg) ;

}
.mainbanner {
    position: relative;
    display: inline-block;
    width: calc(100% - 171px);
    height: 350px;
    padding: 10px 40px 40px;
    background: url(../img/banner.png);
    background-size: 100% 100%;
    float: left;
    font-family: 'Open Sans';
}

/*.mainbanner:after {*/
    /*content: "";*/
    /*width: 150px;*/
    /*height: 100%;*/
    /*z-index: -1;*/
    /*background: #B3252D;*/
    /*position: absolute;*/
    /*right: -150px;*/
    /*top: 8px;*/
    /*transform: skew(0deg, 6deg) ;*/
    /*-webkit-transform: skew(0deg, 6deg) ;*/
    /*-moz-transform: skew(0deg, 6deg) ;*/
    /*-o-transform: skew(0deg, 6deg) ;*/
    /*-ms-transform: skew(0deg, 6deg) ;*/
/*}*/
.suflerlogo {
    position: absolute;
    right: 50px;
    top: 10%
}
.bannertext {
    width: 60%;
    font-size: 1.7em;
}
.bannertext h1 {
    font-family: Sunday;
    font-size: 2.8em;
}
/*logo hive sauna row */

.logos {
    position: relative;
}
.ourlogocover{
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    z-index: -1;
}
/*ourcafe row*/


/*news css*/
.newsrow>div{
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;

}
.newsSingle{
    background: url(../img/newsBorder.png);
    background-size: 100% 100%;
    height: 170px;
    padding: 20px 15px;
    position: relative;
}

.newsSingleBody {
    padding-bottom: 20px;
}

.newsheader{
    padding-top: 0;
    font-family: Sunday;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #B3252D;
    max-height: 50px;
    margin-bottom: 3px;
}

.newstext {
    text-align: justify;
    max-height: 60px;
}
.newsSingleFooter {
    padding-bottom: 20px;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
}

.readmore {
    background: none;
    border: none;
    color: #2aabd2;
    text-decoration: underline;
}

/*partners css*/
.carouselwrap {
    position: relative;
}
.carouselwrap i {
    color: gray;
}
.partnercarousel {
 display: inline-block;
    width: 95%;
    margin-left: 3%;
}
.partnerimg {
    display: inline-block;
    width: 17.5%;
    margin: 1%;
}
.left {
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
}
.right {
    position: absolute;
    top: calc(50% - 30px);
    right: 0;
}

/*footer css*/
.footer {
    position: relative;
    height: 300px;
    background-color: black;
    background: url(../img/footer_fon.png);
}
.footer p {
    color: white;
    font-size: 1.2em;
}
.footer h1 {
    font-family: Sunday;
    color: rgb(109, 109, 109);
}
.likedislike {
    border: none;
    background: none;
    padding-right: 5px;
    padding-left: 5px;
}
.footerPhone{
    color: rgb(109, 109, 109);
    font-size: 2em;
    position: relative;
    /*top: calc(50% - 21px);*/
    top: 55%;
    right: 0;
    z-index: 2;
    margin-top: 30px;
}
.footerPhone > i {
    color: rgb(109, 109, 109);
}
.FootercallMeButtonLogo {
    position: relative;
    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    z-index: 2;
}

 /*modal css*/
.modal {
     max-height:90%;
 }
.modal-dialog {
    width: 100%;
}
.modal-content {
    border: none;
    width: 60%;
    margin: auto;
    margin-top: 5vh;
}
.modal-content .modal-body {
    padding: 0 10px 10px;
}


.modal-contentSM {
    border: none;
    width: 30%;
    margin: auto;
    margin-top: 5vh;
}
.modal-header-blank {
    padding: 0;
    border: none;
}
.modal-header h3 {
    margin: 0;
    font-family: Sunday;
    color: #B3252D;
}
.closemodal {
     position: absolute;
     top: 0;
     right: 0;
     color: #B3252D;
     opacity: 1;
 }
.closemodal:hover, .closemodal:focus {
    color: black;
}
/* social nav buttons */
.socialnav {
    width: 100%;
    /*text-align: center;*/
}
.socialnav > li {
    display: inline-block;
}

/*star rating*/
.starrating {
    unicode-bidi: bidi-override;

}
.starrating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 1.6em;
}
.modalmealname{
    font-size: 1.15em;
    color: #B3252D;
    margin-bottom: 0;
}
/*comments*/
.va {
position: relative;
}

.rating {
    unicode-bidi: bidi-override;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-0%,-50%);
    /*width: 200px;*/

}
.rating > i , .dishRating > i{
    display: inline-block;
    position: relative;
    width: 1.1em;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.6em;
    color: #FFA03D;
}
.comment {
    border: 2px groove rgba(150, 137, 54, 0.2);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.commentHeader{
    position: relative;
}
.commentOwner {
    font-size: 1.6em;
    color: #B3252D;
}
.commentBody p {
    text-align: justify;
}
.expandComment {
    background: none;
    border: none;
    border-bottom: 1px dashed #000;
    padding: 0;
    color: #1f599b;
}