<div class="container-fluid">
    {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'addCommentForm', 'action':'""', 'onsubmit': 'preCommentFormAjax();return false;' }}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                {{ form_errors(form.user) }}
                {{ form_widget(form.user, {'attr': {'class': 'form-control '}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-star" aria-hidden="true"></i></span>
                {{ form_errors(form.rating) }}
                {{ form_widget(form.rating, {'attr': {'class': 'form-control', 'oninput': 'showRatingHints(this.value)'}}) }}
            </div>
        </div>

    </div>
    <p id="valBox" class="text-center">Сойдет заморить червячка</p>
    <div class="form-group">
        {#{{ form_label(form.text, null,{'label_attr': {'class': 'col-sm-2 control-label '}}) }}#}
        <div class="col-sm-10 col-sm-offset-1">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                {{ form_errors(form.text) }}
                {{ form_widget(form.text, {'attr': {'class': 'form-control '}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class=" control-label"></label>
        <div class="col-sm-2 col-sm-offset-5">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-default','id':'addCommentButton'}}) }}
        </div>
    </div>
    {{ form_end(form) }}
    <span id="hiddenDishId" style="display: none">{{ id }}</span>
</div>
<script>
    function showRatingHints(newVal){
        var textRating;
        if (newVal == 1) textRating = 'Отвратительное блюдо';
        if (newVal == 2) textRating = 'Отвратительно, но с орешками';
        if (newVal == 3) textRating = 'Сойдет заморить червячка';
        if (newVal == 4) textRating = 'Вкусно, но не как у мамы';
        if (newVal == 5) textRating = 'Великолепно! На уровне доширака или шаурмы!';
        document.getElementById("valBox").innerHTML=textRating;
    }
</script>


