{% extends 'admin.html.twig' %}


{% block header %}
    <h1 class="text-center">Редактирование блюда</h1>
{% endblock %}
{% block body %}
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Изменить" />
        {{ form_end(edit_form) }}
        <ul>
            <li>
                <a href="{{ path('dish_index') }}">Обратно к списку</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Удалить">
                {{ form_end(delete_form) }}
            </li>
        </ul>
         <div class="row">
             {% for comment in dish.dishComments|reverse %}
             <div class="row">
                 <div class="col-lg-10 col-md-10">
                     <div class="comment" >
                         <div class="container-fluid commentHeader" >
                             <div>
                                 <span class="commentOwner">{{ comment.user }}</span>
                                 {% if comment.rating < 1.5 %}
                                     <div class="rating pull-right filledstar1" >
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     </div>
                                 {% elseif comment.rating < 2.5 %}
                                     <div class="rating pull-right filledstar2" >
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     </div>
                                 {% elseif comment.rating < 3.5  %}
                                     <div class="rating pull-right filledstar3" >
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     </div>
                                 {% elseif comment.rating < 4.5  %}
                                     <div class="rating pull-right filledstar4" >
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
                                     </div>
                                 {% elseif comment.rating == 5  %}
                                     <div class="rating pull-right filledstar5" >
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                         <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                     </div>
                                 {% endif %}
                             </div>
                         </div>
                         <div class="container-fluid commentBody" >
                             <p> {{ comment.text }}</p>
                         </div>
                     </div>
                 </div>
                 <div class="cl-lg-2 col-md-2">
                     <button class="btnDeleteComment" id="deleteComment{{ comment.id }}" onclick="return confirm('Вы уверены, что хотите удалить данный комментарий?')">Del</button>
                     {% if comment.isApproved == 0 %}
                     <input  title="Показывать" class="approvedCheckbox" type="checkbox" id="approvedCheckbox{{ comment.id }}">
                     {% else %}
                         <input  title="Показывать" class="approvedCheckbox" type="checkbox" id="approvedCheckbox{{ comment.id }}" checked>
                     {% endif %}
                 </div>


             </div>
             {% endfor %}
         </div>
    </div>
</div>
<script>
    $('.btnDeleteComment').click( function () {
        var buttonId = this.id;
        var id = this.id.match(/\d+/)[0];
        $.ajax({
            url: '/admin/deleteComment'+id,
            type: 'GET',
            dataType: "json",
            success: function () {
                $('#'+buttonId).parent().parent().remove();
            }
        });
    });

    $(".approvedCheckbox").click(function(event) {
        event.preventDefault();
        var checkboxid = this.id;
        var id = this.id.match(/\d+/)[0];
        $("#"+checkboxid).attr("disabled", true); //disable input

        $.ajax({
            url: '/admin/approveComment' + id,
            type: 'GET',
            dataType: "json",
            success: function (isApproved) {
                var checkBox =$("#"+checkboxid);
                checkBox.prop('checked', !checkBox.prop('checked'))
                checkBox.prop("disabled", false);
                console.log(isApproved);
            },
            error: function () {
                $("#"+checkboxid).prop("disabled", false);
                alert('Что-то пошло не так, как планировалось');
            }
            });
            event.preventDefault();
    });

</script>
{% endblock %}
