{% extends 'admin.html.twig' %}


{% block header %}
    <h1 class="text-center">Список блюд</h1>
{% endblock %}
{% block body %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Описание(Состав)</th>
                    <th>Цена</th>
                    <th>Масса</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for dish in dishes %}
                    <tr>
                        <td><a href="{{ path('dish_show', { 'id': dish.id }) }}">{{ dish.id }}</a></td>
                        <td>{{ dish.dishName }}</td>
                        <td>{{ dish.dishDescription }}</td>
                        <td>{{ dish.dishPrice }}</td>
                        <td>{{ dish.dishWeight }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('dish_edit', { 'id': dish.id }) }}">Изменить блюдо</a>
                                    <a href="{{ path('dish_show', { 'id': dish.id }) }}">Изменить фото</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    <div class="row">
        <ul>
            <li>
                <a href="{{ path('dish_new') }}">Добавить блюдо</a>
            </li>
            <li>
                <a href="{{ path('admin') }}">Обратно в админку</a>
            </li>
        </ul>
    </div>
{% endblock %}
