{% extends 'admin.html.twig' %}

{% block header %}
    <h1 class="text-center">Создание блюда</h1>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Создать" />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('dish_index') }}">Вернуться к списку</a>
        </li>
    </ul>
{% endblock %}
