{% extends 'admin.html.twig' %}


{% block header %}
    <h1 class="text-center">{{ dish.dishName }}</h1>
{% endblock %}
{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dish.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ dish.dishName }}</td>
            </tr>
            <tr>
                <th>Описание(Состав)</th>
                <td>{{ dish.dishDescription }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ dish.dishPrice }}</td>
            </tr>
            <tr>
                <th>Масса</th>
                <td>{{ dish.dishWeight }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dish_index') }}">Обратно к списку</a>
        </li>
        <li>
            <a href="{{ path('dish_edit', { 'id': dish.id }) }}">Изменить</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h1>Загрузка фотографий</h1>

            <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone">
                <input type="hidden" name="dishId" value="{{ dish.id }}" />
            </form>
        </div>
        <div class="col-lg-4 col-md-4">
            <h1 style="display: inline-block">Порядок фото</h1>
            <button class="pull-right" id="savePhotoOrderButton"  style="margin-top: 20px" > Сохранить
                <i class="fa fa-save fa-2x" aria-hidden="true"></i>
            </button>
            <ul class="dishPhotoGallery">
                {% for photo in photos %}
                    <li>
                        <button class="btnDelete" id="dishDeleteBtn{{ photo.id }}" onclick="return confirm('Вы уверены, что хотите удалить данную фотографию?')" ><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                        <button class="btnUp" id="dishUpBtn{{ photo.photoOrder }}"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></button>
                        <img id="dish{{ photo.photoOrder }}" data-idInDb="{{ photo.id }}" class="img-responsive dishphoto" src="/uploads/gallery/{{ photo.path }}" alt="">
                        <button class="btnDwn" id="dishDownBtn{{ photo.photoOrder }}"><i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i></button>
                    </li>
                {% endfor %}
            </ul>
            <p>Всего фотографий: <span id="photosCount">{{ dish.dishPhotos.count }}</span></p>
        </div>
    </div>
    </div>

<script type="text/javascript">

$(document).ready(function() {


    $('.btnUp').click( function(){
        var currentId=this.id.match(/\d+/)[0];
         if (currentId == 1) {
             alert('Фото уже первое!');
         }
        else {
             var newId = currentId - 1;
             $('#dishUpBtn'+newId).parent().append($('#dish'+currentId));
             $('#dish'+currentId).after($('#dish'+currentId).prev());
// 1 2 3 ставит второй после!! третьего
             $('#dishUpBtn'+currentId).parent().append($('#dish'+newId));
             $('#dish'+newId).after($('#dish'+newId).prev());
//                 конец перестановки
             $('#dish'+newId).attr("id", "dish"+currentId);
             $('#dish'+currentId).attr("id", "dish"+newId);
         }
    });

    $('.btnDwn').click( function(){
        var currentId=this.id.match(/\d+/)[0];
        var count = $('#photosCount').text();
        if (currentId == count) {
            alert('Фото уже последнее!');
        }
        else {
            currentId = parseInt(currentId);
            var newId = currentId + 1;
            console.log(newId);
            $('#dishUpBtn'+newId).parent().append($('#dish'+currentId));
            $('#dish'+currentId).after($('#dish'+currentId).prev());
// 1 2 3 ставит второй после!! третьего
            $('#dishUpBtn'+currentId).parent().append($('#dish'+newId));
            $('#dish'+newId).after($('#dish'+newId).prev());
//                 конец перестановки
            console.log(typeof(newId));
            console.log($('#dish'+newId));
            $('#dish'+currentId).attr("id", "dish"+newId);
            $('#dish'+newId).attr("id", "dish"+currentId);

        }
    });

    $('.btnDelete').click( function () {
        var buttonId = this.id;
        var photoId = this.id.match(/\d+/)[0];
        $.ajax({
            url: '/admin/deletePhoto'+photoId,
            type: 'GET',
            dataType: "json",
            success: function () {
                $('#'+buttonId).parent().remove();
            }
        });
    });

         $('#savePhotoOrderButton').click(function(){
        var photoIdInDb = $(".dishphoto").map(function() {
            return $(this).attr("data-idInDb");
        })
        var photoOrders = $(".dishphoto").map(function() {
            return photoOrder=this.id.slice(-1);
        })
        var newPhotoOrders = [];

        for(var y = 0; y <  photoIdInDb.length; y++) {
            var photoOrder = { id: photoIdInDb[y], order: photoOrders[y]};
//            newPhotoOrders.add(photoOrder);
            newPhotoOrders.push(photoOrder);
        }
        var newPhotoOrdersObject = {};
        newPhotoOrdersObject.photoOrders = newPhotoOrders;
        console.log(newPhotoOrdersObject);
//        newPhotoOrdersObject = JSON.stringify(newPhotoOrdersObject);
        $.ajax({
            url: '/dish/savePhotoOrder',
            type: 'POST',
            dataType: "json",
            data: newPhotoOrdersObject,
            success: function (result) {
                alert("Порядок фотографий обновлен, сейчас страница будет перезагружена.");
                window.location.reload();
            }
        });
    });


});


</script>
{% endblock %}

