.dishPhotoGallery {
    list-style: none;
}
.dishPhotoGallery li {
    position: relative;
    margin: 5px;
}
.adminActionButton {
    border: 1px solid #ccc;
    padding: 5px 7px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

#savePhotoOrderButton{
    position: absolute;
    top: 5px;
    right: -100px;
}


.btnUp, .btnDwn, .btnDelete{
    position: absolute;
    border: none;
    border-radius: 50%;
    padding: 5px 7px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.btnDwn {
    left: 80%;
}
.btnDelete {
    top: 50%;
    left: 50%;
    padding: 5px 9px;
    transform: translate(-50%, -50%);
}
.adminActionList li{
    display: inline;
}

.deleteForm {
    display: inline-block;
}