/*nav css*/

.navbar {
    background: #F7F7F7;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Open Sans';
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;

}

.navbar .navbar-collapse {
    text-align: center;
    font-size: 1.2em;
}
.navbar a {
    color: black;
    font-family: 'Open Sans';
}
/*.navbar li {*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
/*}*/