{% extends 'admin.html.twig' %}

{% block header %}
<h1 class="text-center">Изменение категории</h1>
{%  endblock %}

{% block body %}
    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal' }}) }}
    <div class="form-group">
        {{ form_label(edit_form.dishCategoryName, 'Наименование',{'label_attr': {'class': ' control-label '}}) }}
        {#<div class="col-sm-10">#}
        {{ form_errors(edit_form.dishCategoryName) }}
        {{ form_widget(edit_form.dishCategoryName, {'attr': {'class': 'form-control '}}) }}
        {#</div>#}
    </div>
    {#<div class="form-group">#}
        {#{{ form_label(edit_form.dishes, null,{'label_attr': {'class': ' control-label '}}) }}#}
        {#<div class="col-sm-10">#}
        {#{{ form_errors(edit_form.dishes) }}#}
        {#<div style="height: 100px; width: 50%; overflow-y: scroll;">#}
        {#{{ form_widget(edit_form.dishes, {'attr': {'class': ''}}) }}#}
        {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="form-group center-block">
        <label class=" control-label"></label>
        {{ form_widget(edit_form.save, {'attr': {'class': 'btn btn-default','id':'addCommentButton'}}) }}
    </div>
        {{ form_widget(edit_form) }}
        {#<input type="submit" value="Изменить" />#}
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('dishcategory_index') }}">Обратно к списку категорий</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Удалить">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
