{% extends 'admin.html.twig' %}


{% block header %}
    <h1 class="text-center">Список категорий</h1>
{%  endblock %}
{% block body %}
<table class="table ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    {% for dishCategory in dishCategories %}
        <tr>
            <td><a href="{{ path('dishcategory_show', { 'id': dishCategory.id }) }}">{{ dishCategory.id }}</a></td>
            <td>{{ dishCategory.dishCategoryName }}</td>
            <td>
                <ul class="adminActionList">
                    <li>
                        <a class="adminActionButton btn" href="{{ path('dishcategory_show', { 'id': dishCategory.id }) }}"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="adminActionButton btn"  href="{{ path('dishcategory_edit', { 'id': dishCategory.id }) }}"><i class="fa fa-edit fa-lg"  aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <form class="deleteForm" id="deleteButton{{ dishCategory.id }}" action="{{ path('dishcategory_delete', { 'id': dishCategory.id }) }}" method="post" >
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[dishCategory.id]) }}
                            <button class="btn adminActionButton deleteButton" id="deleteButton{{ dishCategory.id }}" type="submit" class="adminActionButton" onclick="return confirm('Вы уверены, что хотите удалить данную категорию?')">
                                <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul>
    <li>
        <a href="{{ path('dishcategory_new') }}">Создать новую категорию</a>
    </li>
</ul>
<script>

    $(".deleteButton").click(function() {
        currentId =  target.id.match(/\d+/)[0];
        $.ajax({
            url: '/admin/dishcategory/'+currentId,
            type: 'DELETE',
            success: function (result) {
                console.log(result)
            }
        });
    });
//    function getId(currentId){
//        var target = event.target;
//
//        console.log(currentId);
//
//    }
//
//    function deleteCategory(currentId){
//        $.ajax({
//            url: '/admin/dishcategory/'+currentId,
//            type: 'DELETE',
//            success: function (result) {
//                console.log(result)
//            }
//        });
//    }
</script>
{% endblock %}
