{% extends 'admin.html.twig' %}

{% block header %}
    <h1 class="text-center">Создание категории</h1>
{%  endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Создать" />
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('dishcategory_index') }}">Обратно к списку категорий</a>
        </li>
    </ul>
{% endblock %}
