{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Категории блюд</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dishCategory.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ dishCategory.dishCategoryName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dishcategory_index') }}">Вернуться к списку</a>
        </li>
        <li>
            <a href="{{ path('dishcategory_edit', { 'id': dishCategory.id }) }}">Изменить</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
